.forum-content{
  display: flex;
  .left-area{
    border-right: 2px solid rgb(219, 219, 219);
  }
  .list-column{
    flex-basis: 50%;
    .threads-top-bar{
      padding:0 10px;
      margin: 3px;
      display: flex;
      justify-content: space-around;
      list-style: none;
      font-weight: bold;
      li{
        flex-basis: 50%;
      }
    }
  }
}
