<h3>Forum index</h3>
<% @forum_threads.each do |thread| %>
  <ul>
    <li>
      <%= link_to thread.subject, forum_thread_path(thread)  %>
      <br>
      Created by: <%= thread.user.username %>
    </li>
  </ul>
<% end %>
